QPushButton {
    border-color: #ff634d;
    border-style: solid;
    width: 100%;
    height: 100%;
    background-color: #ff634d;
    color: #ffffff;
    font-size: 18px;
}

QPushButton:hover{
    border-color: #ff5840;
    border-style: solid;
    width: 100%;
    height: 100%;
    background-color: #ff5840;
    color: #ffffff;
    font-size: 18px;
}

QPushButton::menu-indicator
{
    background-color: #ff634d;
}

#toolButtons{
    border-color: #ff634d;
    border-style: solid;
    background-color: #ff634d;
    color: #ffffff;
    font-size: 18px;
}

#toolButtons:hover{
    border-color: #ff5840;
    background-color: #ff5840;
}

#quitBtn{
    border-color: #a51946;
    border-style: solid;
    background-color: #a51946;
    color: #ffffff;
    font-size: 18px;
}

#quitBtn:hover{
    border-color: #9b123e;
    border-style: solid;
    background-color: #9b123e;
    color: #ffffff;
    font-size: 18px;
}

#minimize{
    border-color: #0084a8;
    border-style: solid;
    background-color: #0084a8;
    color: #ffffff;
    font-size: 18px;
}

#minimize:hover{
    border-color: #006986;
    border-style: solid;
    background-color: #006986;
    color: #ffffff;
    font-size: 18px;
}

#settings{
    border-color: #34c873;
    border-style: solid;
    background-color: #34c873;
    color: #ffffff;
    font-size: 18px;
}

#settings:hover{
    border-color: #2dad63;
    border-style: solid;
    background-color: #2dad63;
    color: #ffffff;
    font-size: 18px;
}

#maxim{
    border-color: #ffb041;
    border-style: solid;
    background-color: #ffb041;
    color: #ffffff;
    font-size: 18px;
}

#maxim:hover{
    border-color: #f19f2d;
    border-style: solid;
    background-color: #f19f2d;
    color: #ffffff;
    font-size: 18px;
}

#tools{
    border-color: #006986;
    border-style: solid;
    background-color: #0084a8;
    color: #ffffff;
    font-size: 18px;
}

#tools:hover{
    border-color: #0084a8;
    border-style: solid;
    background-color: #006986;
    color: #ffffff;
    font-size: 18px;
}

#titlebar {
    border-color: #18184A;
    border-style: solid;
    background-color: #18184a;
    color: #18184a;
}

#menu{
    background-color: #6bd6d1;
    border-style: solid;
    color: #6bd6d1;
}

#leftEdit{
    background-color: #ffb041;
    border-style: solid;
    color: #ffb041;
}

#centerEdit{
    background-color: #18184A;
    border-style: solid;
}

#rightEdit{
    background-color: #ffb041;
    border-style: solid;
    color: #ffb041;
}

#openFilesBar{
    background-color: #18184A;
}

#openFilesTab{
    background-color: #34c873;
    font-size: 16px;
}

#openFilesTab:hover{
    background-color: #2dad63;
    font-size: 16px;
}