/*Set the general appearance of undefined widgets*/
QPushButton {
    border-color: #ff634d;
    border-style: solid;
    width: 100%;
    height: 100%;
    background-color: #ff634d;
    color: #f9f9f9;
    font-size: 18px;
}

QPushButton:hover{
    border-color: #ff5840;
    border-style: solid;
    width: 100%;
    height: 100%;
    background-color: #ff5840;
    color: #f9f9f9;
    font-size: 18px;
}

QLabel{
    font-family: 'Hind Siliguri';
}

QPushButton::menu-indicator
{
    background-color: #ff634d;
}

QMessageBox QPushButton{
    background-color: #ff634d;
    color: #f9f9f9;
    font-size: 18px;
    height: 50%;
    border-radius: 10px;
}

QMessageBox QPushButton:hover{
    background-color: #ff5840;
    color: #f9f9f9;
    font-size: 18px;
    height: 50%;
    border-radius: 10px;
}

QFileDialog QPushButton{
    height: 50%;
}

/*The buttons in the toolbar for compiling saving and such*/
#toolButtons{
    border-color: #ff634d;
    border-style: solid;
    background-color: #ff634d;
    color: #f9f9f9;
    font-size: 18px;
}

#toolButtons:hover{
    border-color: #ff5840;
    background-color: #ff5840;
}

/*The for buttons on the right side for window interaction*/
#quitBtn{
    border-color: #a51946;
    border-style: solid;
    background-color: #a51946;
    color: #f9f9f9;
    font-size: 18px;
}

#quitBtn:hover{
    border-color: #9b123e;
    border-style: solid;
    background-color: #9b123e;
    color: #f9f9f9;
    font-size: 18px;
}

#minimize{
    border-color: #0084a8;
    border-style: solid;
    background-color: #0084a8;
    color: #f9f9f9;
    font-size: 18px;
}

#minimize:hover{
    border-color: #006986;
    border-style: solid;
    background-color: #006986;
    color: #f9f9f9;
    font-size: 18px;
}

#settingsBtn{
    border-color: #34c873;
    border-style: solid;
    background-color: #34c873;
    color: #f9f9f9;
    font-size: 18px;
}

#settingsBtn:hover{
    border-color: #2dad63;
    border-style: solid;
    background-color: #2dad63;
    color: #f9f9f9;
    font-size: 18px;
}

#maxim{
    border-color: #ffb041;
    border-style: solid;
    background-color: #ffb041;
    color: #f9f9f9;
    font-size: 18px;
}

#maxim:hover{
    border-color: #f19f2d;
    border-style: solid;
    background-color: #f19f2d;
    color: #f9f9f9;
    font-size: 18px;
}

/*The style of the tool buttons on teh left side*/
#tools{
    border-color: #0084a8;
    border-style: solid;
    background-color: #0084a8;
    color: #f9f9f9;
    font-size: 18px;
}

#tools:hover{
    border-color: #006986;
    border-style: solid;
    background-color: #006986;
    color: #f9f9f9;
    font-size: 18px;
}

/*The background color of the title bar*/
#titlebar {
    border-color: #18184A;
    border-style: solid;
    background-color: #18184a;
    color: #18184a;
}

/*The style of the left, center and right background of the editor*/
#leftEdit{
    background-color: #330033;
    border-style: solid;
}

#centerEdit{
    background-color: #330033;
    border-style: solid;
}

#rightEdit{
    background-color: #330033;
    border-style: solid;
}

/*The style of the bar on top of the editor which shows the open files*/
#openFilesBar{
    background-color: #18184A;
}

/*And how a tab of that bar should look like*/
#openFilesTab{
    background-color: #34c873;
    font-size: 16px;
}

#openFilesTab:hover{
    background-color: #2dad63;
    font-size: 16px;
}

/*The style of the titletext in a menu*/
#menuTitle{
    color: #f9f9f9;
    font-size: 45px;
    font-weight: italic;
    font-family: 'Comfortaa';
}

/*The style of the layout of a scrollarea on the left editor area*/
#scrollMenuLay{
    background-color: #006986;
    border-style: solid;
    color: #006986;
}

/*Style of an item in the above mentioned scroll area*/
#scrollMenuItem{
    background-color: #34c873;
    border-style:  solid;
    border-radius: 8px;
    color: #f9f9f9;
}

#scrollMenuItem:hover{
    background-color: #2dad63;
    border-radius: 8px;
    color: #f9f9f9;
}

/*Style of the quit button on the file menu tab inside the scrollarea*/
#quitBtnFile{
    border-color: #a51946;
    border-style: solid;
    border-radius: 8px;
    background-color: #a51946;
    color: #f9f9f9;
    font-size: 18px;
}

#quitBtnFile:hover{
    border-color: #9b123e;
    border-style: solid;
    border-radius: 8px;
    background-color: #9b123e;
    color: #f9f9f9;
    font-size: 18px;
}

/*How the selector of the file to rin looks like*/
#menuRunChooser{
    background-color: #34c873;
    border-style:  solid;
    border-radius: 8px;
    font-size: 18px;
    color: #f9f9f9;
}

#menuRunChooser::drop-down {
    width: 15px;
    border: 3px solid #0084a8;
    border-radius: 5px;
}

#menuRunChooser QAbstractItemView {
    background-color: #2dad63;
}

/*Style of the search bar in the edit tab of the menu*/
#menuSearch{
    background-color: #18184a;
    color: #f9f9f9;
    border-radius: 8px;
    font-size: 18px;
}

/*How the console looks like in the run menu*/
#console{
    background-color: #18184a;
}

#consoleText{
    font-size: 20px;
    font-family: 'bignoodletoo oblique';
    color: #f9f9f9;
}

/*Style of a menu item seperator*/
#seperator{
    background-color: #f9f9f9;
}

/*Style of the currently open/closed tab in the settings window*/
#openTab{
    background-color: #e54f39;
    border-radius: 8px;
}

#normalTab{
    background-color: #ff634d;
    border-radius: 8px;
}

/*StYLe oF ThE MOtD In THe tItLEwiNdOw*/
#greetText{
    font-family: 'Bangers';
    color: #ffb041;
    font-size: 20px;
}

/*The big "Hitch" text on the startupwindow*/
#titleText{
    font-family: 'Comfortaa';
    color: #f9f9f9;
    font-size: 60px;
}

/*how the layout of the last projects names panel looks like*/
#lastProjects{
    background-color: #330033;
}

/*This defines how the layout of the action buttons on the titlewindow looks*/
#lastProjectsLaunch{
    background-color: #330033;
}

/*This is the launch project button of it*/
#launchProject{
    background-color: #0084a8;
    color: #f9f9f9;
}

#launchProject:hover{
    background-color: #006986;
    color: #f9f9f9;
}

/*This is how a project item in the last projects layout looks*/
#projectName{
    color: #f9f9f9;
    background-color: #0084a8;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto';
}

/*and this is the style of the info text displyed when clicking on it*/
#infoText{
    color: #f9f9f9;
    font-family: 'Roboto';
    font-size: 30px;
}

/*how the text edit for creating a new project looks*/
#projectTextEdit{
    background-color: #34c873;
    color: #f9f9f9;
    border-radius: 8px;
    font-size: 18px;
}

/*This is the style of the info text below the creation options*/
#infoTextCreate{
    color: #f9f9f9;
    font-size: 16px;
}

/*how an item in the file explorer looks like*/
#directoryItem{
    background-color: #ffb041;
}

#directoryItem:hover{
    background-color: #f19f2d;
}

#directoryText{
    color: #f9f9f9;
    font-family: 'Comfortaa';
    font-size: 15px;
}

/*how the layout of the fileexplorer looks*/
#fileExplorer{
    background-color: #330033;
    border-style: solid;
}

/*the look of the breadcrumb text and bar*/
#bcName{
    background-color: #34c873;
    border-style: solid;
}

#bcName:hover{
    background-color: #2dad63;
    border-style: solid;
}

#bcBar{
    background-color: #18184A;
    border-style: solid;
}

/*how the bar above the file explorer with the tools looks like*/
#toolsBar{
    background-color: #18184A;
    border-style: solid;
}

/*Style of the save all button in that bar*/
#saveAll{
    background-color: #34c873;
}

#saveAll:hover{
    background-color: #2dad63;
}

/*Style of the new file button in that bar*/
#newFile{
    background-color: #34c873;
}

#newFile:hover{
    background-color: #2dad63;
}

/*Style of the refresh button in that bar*/
#refreshFiles{
    background-color: #34c873;
}

#refreshFiles:hover{
    background-color: #2dad63;
}

/*how the rightclickmenu in the filebrowser appears*/
#rightClkMenu{
    background-color: #0084a8;
    border-style: solid;
    border: 0px;
    color: #f9f9f9;
    font-family: 'Comfortaa';
    font-size: 14px;
}

/*The look of the carousel*/
#carouselFrame{
    background-color: #34c873;
    color: #9b123e;
}

#carouselItemFrame{
    background-color: #f9f9f9;
}

#carouselItemFrameNonExisting{
    background-color: #FF5454;
}

#carouselSideButtons{
    background-color: #ff634d;
}

#carouselSideButtons:hover{
    background-color: #e54f39;
}

#projectLabel{
    color: #414241;
    font-size: 24px;
}

/*Style of all scrollbars*/
QScrollBar:vertical {
    background-color: #34c873;
}

QScrollBar::handle:vertical {
    border: 3px solid #0084a8;
    border-radius: 5px;
    min-height: 25px;
}

QScrollBar::up-arrow:vertical{
    background-color: #34c873;
    border-style: solid;
}

QScrollBar::down-arrow:vertical{
    background-color: #34c873;
    border-style: solid;
}

QScrollBar::add-line:vertical {
    border: 0px solid;
    height: 0px;
    subcontrol-position: bottom;
}

QScrollBar::sub-line:vertical {
    border: 0px solid;
    height: 0px;
    subcontrol-position: top;
}

/*The fonts used
Attention: They need to be installed on the system in order to work!*/
@font-face {
    font-family: 'Bangers';
    src: url('../../resources/fonts/Bangers/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'bignoodletoo';
    src: url('../../resources/fonts/bignoodletoo/bignoodletoo.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../resources/fonts/Comfortaa/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('../../resources/fonts/Hind_Siliguri/HindSiliguri-Regular.ttf');
}